<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">


<div class="container" layout:fragment="content">
    <div class="py-5 text-center" th:if="${error}">
        <p class="lead"> StudyHAJA 이메일 확인</p>
        <div class="alert alert-danger" role="alert">이메일 확인 링크가 올바르지 않습니다.</div>
    </div>

    <div class="py-5 text-center" th:if="${error == null}">
        <p class="lead"> StudyHAJA 이메일 확인</p>
        <div class="py-4">
            <h2>
                이메일이 확인되었습니다. <span th:text="${numberOfMember}"></span> 번째 회원,
                <span th:text="${nickname}"></span>님 회원가입을 환영합니다.
            </h2>
            <small class="text-info">이제부터 가입할 때 입력한 이메일 또는 닉네임과 패스워드로 로그인 할 수 있습니다.</small>
        </div>
    </div>
</div>

</html>