<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<div class="container" layout:fragment="content">
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
        <div th:replace="fragments/settingsSideBar.html::settingsMenu (currentMenu='profile')"></div>
    </div>
    <div class="col-8">
      <div class="row">
        <h2 class="col-sm-12" th:text="${member.nickname}"></h2>
      </div>
      <div class="row mt-3">
        <form class="col-sm-6" action="#"
              th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
          <div class="form-group">
            <label for="bio">한 줄 소개</label>
            <input id="bio" type="text" th:field="*{bio}" class="form-control"
                   placeholder="한 줄 소개를 입력하세요" aria-describedby="bioHelp" required>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></small>
          </div>
          <div class="form-group">
            <label for="url">링크</label>
            <input id="url" type="url" th:field="*{refUrl}" class="form-control"
                   placeholder="http://studyhaja.com" aria-describedby="urlHelp" required>
            <small id="urlHelp" class="form-text text-muted">
              블로그, 유튜브 등 프로필에 공개되는 소셜 링크를 입력하세요
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('refUrl')}" th:errors="*{refUrl}"></small>
          </div>
          <div class="form-group">
            <label for="company">직업</label>
            <input id="company" type="text" th:field="*{occupation}" class="form-control"
                   placeholder="현재 직업을 입력하세요" aria-describedby="occupationHelp" required>
          </div>
          <div class="form-group">
            <label for="location">활동 지역</label>
            <input id="location" type="text" th:field="*{location}" class="form-control"
                   placeholder="주요 활동 지역을 입력하세요" aria-describedby="locationdHelp" required>
          </div>
          <div class="form-group text-center mt-4">
            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">수정</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</html>